# Scala/SBT build artifacts
/target/
/project/project/
/project/target/

# IDE-specific files & directories
/.bsp/
/.idea/
/.metals/
/.vscode/
*.iml
*.ipr
*.iws

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IMDB Data files
/src/main/resources/imdb/
/src/main/resources/imdb_subset

# Python / PySpark
/python/venv/
/python/.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/